<footer th:fragment="footer" class="w-full h-64 bg-[#F7F8F8]">
  <div class="w-full h-full flex flex-row justify-center items-center">
    <div class="flex flex-col gap-10">
      <img class="w-24" th:src="@{/imgs/assets/cor.jpg}" alt="" />
      <div class="flex flex-row gap-5 w-full justify-center">
        <a href="https://twitter.com/cornergatecc?lang=en">
          <img th:src="@{/imgs/assets/icons/twitter.svg}" alt="" />
        </a>
        <a href="https://www.facebook.com/cornergatesa/">
          <img th:src="@{/imgs/assets/icons/facebook.svg}" alt="" />
        </a>
      </div>
    </div>
  </div>
</footer>
