<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <!-- developed by @MarquisTheCoder -->
  <head th:replace="fragments/head :: head"></head>

  <body>
    <!-- root page for the components -->
    <section id="root" class="w-full h-full p-0 m-0 box-border" role="root">
      <header th:replace="fragments/header :: header"></header>
      <main th:replace="fragments/main :: main"></main>
      <footer th:replace="fragments/footer :: footer"></footer>
    </section>
  </body>
</html>
